.Shape{
    border-radius: $border-radius-none;
    padding: $spacing-inset-lg;
    border-width: $border-width-thin;

    border-color: $color-neutral-04;
    background-color: $color-neutral-05;
    height: 100%;
}